<?xml version="1.0"?>
<!--
/**
 * @author    Sutunam
 * @copyright Copyright (c) 2024 Sutunam (http://www.sutunam.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Sutunam_HyvaLinkedProduct">
        <sequence>
            <module name="Sutunam_LinkedProduct"/>
            <module name="Hyva_CompatModuleFallback"/>
        </sequence>
    </module>
</config>
