image: registry.sutunam.com/sutunam/ci/php_ci:8.1

default:
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
      - vendor/
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'

    - eval $(ssh-agent -s)

    - mkdir -p ~/.ssh
    - touch ~/.ssh/known_hosts
    - echo "$SSH_KEY" | tr -d '\r' | ssh-add -
    - chmod 700 ~/.ssh
    - ssh-keyscan -t rsa  git.sutunam.com >> ~/.ssh/known_hosts
    - curl --show-error --silent "https://getcomposer.org/installer" | php
    - echo "$auth_json" > auth.json
    - php composer.phar install

copyright:
  script:
    - files="$(grep -rL '@copyright.*Sutunam' --include '*.php' --exclude-dir=vendor ./ || true)";
    - if [ "$(echo "$files" | sed '/^$/d' | wc -l)" -gt '0' ]; then echo "$files"; exit 1; fi

.phpstan:
  script:
    - php composer.phar run phpstan

.phpcs:
  script:
    - php composer.phar run phpcs

### PHPCS
phpcs-php8.1:
  image: registry.sutunam.com/sutunam/ci/php_ci:8.1
  extends: .phpcs

phpcs-php8.2:
  image: registry.sutunam.com/sutunam/ci/php_ci:8.2
  extends: .phpcs

phpcs-php8.3:
  image: registry.sutunam.com/sutunam/ci/php_ci:8.3
  extends: .phpcs

phpcs-php8.4:
  image: registry.sutunam.com/sutunam/ci/php_ci:8.4
  extends: .phpcs

### PHPSTAN
phpstan-php8.1:
  image: registry.sutunam.com/sutunam/ci/php_ci:8.1
  extends: .phpstan

phpstan-php8.2:
  image: registry.sutunam.com/sutunam/ci/php_ci:8.2
  extends: .phpstan

phpstan-php8.3:
  image: registry.sutunam.com/sutunam/ci/php_ci:8.1
  extends: .phpstan

phpstan-php8.4:
  image: registry.sutunam.com/sutunam/ci/php_ci:8.2
  extends: .phpstan
